* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(210, 216, 221);
}
body {
  background-color: black;
  height: 100vh;
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  background-color: rgb(50, 56, 53);
  /* background-color: rgb(60, 85, 73); */
  height: 95%;
  width: 97%;
  /* margin: 2em; */
  /* position: absolute; */
  display: grid;
  grid-template-columns: 1fr 5fr;
}
/* 
. 
. 
. 
. 
. 
profile-area  starts here
. 
. 
. 
.  
*/
.profile-area {
  background-color: rgb(59, 92, 92);
  border-radius: 1em 0 0 0;
}
.profile {
  display: flex;
  flex-direction: column;
  margin: 2em 0;
}
.profile .name {
  margin: 0.3em auto;
}
.profile .profile-pic {
  width: 15em;
  margin: 0 auto;
  border-radius: 50%;
  cursor: pointer;
}
.profile .bio {
  text-align: center;
  padding: 0.6em;
}

/* 
. 
. 
. 
. 
. 
profile-area  ends here
. 
. 
. 
.  
*/
/* 
. 
. 
. 
.  
. 
Social meida  starts here
. 
. 
. 
.  
*/
.social-media {
  /* background-color: #fff; */
  display: flex;
  justify-content: center;
}
.social-media .social {
  background-color: aqua;
  color: rgb(68, 68, 68);
  height: 2.6em;
  width: 2.6em;
  margin: 0.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30%;
  font-weight: 900;
  cursor: pointer;
}
.social-media .social:hover {
  background-color: rgb(0, 228, 228);
}
/* 
. 
. 
. 
. 
. 
Social meida  ends here
. 
. 
. 
.  
*/
/* 
. 
. 
. 
. 
. 
More  starts here
. 
. 
. 
.  
*/
.more {
  /* background-color: rgb(95, 95, 94); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 280px;
}

.more ul li {
  list-style: none;
  /* margin: 0.1em; */
  padding: 0.6em 0.3em;
  border-radius: 0.5em;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}
li:hover {
  border: 1px solid rgb(50, 56, 53);
}
/* 
. 
. 
. 
. 
. 
More  ends here
. 
. 
. 
.  
*/
/* 
. 
. 
. 
. 
. 
Hire Me starts here
. 
. 
. 
.  
*/
.hire-me {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
}
.hire-me button {
  color: rgb(68, 68, 68);
  border: 2px solid rgb(50, 56, 53);
  padding: 0.3em 0.5em;
  font-size: 1.2em;
  font-weight: 600;
  border-radius: 0.5em;
  background-color: aqua;
  cursor: pointer;
}
.hire-me button:hover {
  background-color: rgb(0, 231, 231);
  padding: 0.4em 0.6em;
}

.dark-mode {
  padding-left: 3em;
}
/* 
. 
. 
. 
. 
. 
Hire Me ends here
. 
. 
. 
.  
*/
/* 
. 
. 
. 
. 
. 
description-container starts here
. 
. 
. 
.  
*/
.description-container {
  background-color: rgb(112, 112, 112);
  padding: 2em 8em;
  border-radius: 0 1em 0 0;
}
.description-area {
  background-color: rgb(99, 88, 88);
  height: 100%;
  border-radius: 1em;
}
.about-me-section {
  /* background-color: rgb(58, 121, 100); */
  display: flex;
  height: 20em;
}
.about-me {
  background-color: rgb(53, 53, 53);
  width: 60%;
  padding-left: 3em;
  padding-top: 3em;
  border-radius: 0.5em 0 0 0;
}
.about-me h1 {
  margin-bottom: 0.3em 0;
  font-size: 2.5em;
  /* font-family: "Courier New", Courier, monospace; */
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.about-me h3 {
  font-style: italic;
}

.about-me p {
  padding: 1em 0;
  margin-bottom: 1em;
}
.about-me a {
  background-color: cornflowerblue;
  padding: 0.5em;
  margin-right: 0.3em;
  border-radius: 0.3em;
  margin-top: 3em;
  font-weight: 900;
  color: black;
  text-decoration: none;
}
.about-me a:hover {
  background-color: rgb(81, 135, 236);
}

.profile-pic2 {
  background-color: rgb(78, 76, 80);
  width: 40%;
  height: 100%;
  padding: 2em;
  border-radius: 0 0.5em 0 0;
}
.profile-pic2 img {
  width: 23em;
  border-radius: 0.8em;
  filter: grayscale(0);
}

.what-i-do {
  /* background-color: red; */
  width: 49em;
  padding-left: 3em;
  padding-bottom: 2em;
}
/* h2 */
/* p */

.my-skills {
  background-color: rgb(53, 53, 53);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 30em;
  width: 100%;
  padding: 0.5em 0.2em 0.3em 0.5em;
  border-radius: 0 0 0.5em 0.5em;
}
.programming-language {
  background-color: rgb(87, 87, 87);
  width: 98%;
  height: 98%;
  padding: 1em;
  border-radius: 0.3em;
}
/* h3 */
/* p */
/* 
. 
. 
. 
. 
. 
Hire Me ends here
. 
. 
. 
.  
*/
